*{
    margin: 0;
   padding: 0;
}

.logo{
   width: 20%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.logo img{
   width: 100%;
   border: 3px solid white;
   border-radius: 50px;
}
.navbar{
  display: flex;
}

.nav-list{
   width: 50%;
   background-color: rgb(189, 134, 108);
   display: flex;
   /*justify-content: center;*/
   align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 26px   36px;
}

.nav-list li a{
    text-decoration: none;
}

.nav-list li a:hover{
   text-decoration: none;
   color: black;
}

.rightnav{
    background-color: rgb(189, 134, 108);
    width: 50%;
    text-align: center;
   
}

#search{
   padding: 5px;
   font-size: 20px;
   border: 3px solid gray;
   border-radius: 9px;
}

.background{
   background:rgba(0, 0, 0,0.7) url('https://www.biospace.com/getasset/78e13d07-f04b-477f-8f94-65d3556dcd35/');
   background-size: cover;
  
}

.firstSection{
   height: 100vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstHalf{
     width: 80%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     
}

.secondhalf{
   width: 30%;
}

.secondhalf img{
   width: 100%;
   display: block;
   margin: auto;
}

.text-big{
   font-size: 45px;
   color: black;
}

.text-small{
   font-size: 25px;
   color : rgb(68, 1, 51);
}

